<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-title">
      <%= link_to "Pantry Pal", "/", class: "nav-link", style: "font-size: 1.5em; color: #15452B;" %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <%# added about modal button %>
          <button type="button" class="btn custom-color" style="border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            About
          </button>

          <li class="nav-item">
        <%= link_to raw('<i class="fa fa-heart" style="color: red;"></i>'), favorites_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
          <%# <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= current_user.nickname %></a>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%# hello %>

<%# added an about the app page modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 16px;">
    <div class="modal-image d-flex justify-content-center">
    <img src="/assets/modalpantrypal.png" alt="Image Description" style="width: 200px; height: 200px; display: flex; align-items: center;">

    </div>
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="color: green; font-align: center;">Welcome to Pantry Pal</h2>
        <button type="button" class="btn-close" style="background-color: green;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Our website offers a range of services that can help you discover, save, and organize your favorite recipes.
      With our powerful search feature, you can easily find recipes that match the ingredients you have on hand, making meal planning and grocery shopping a breeze.
      Once you've found a recipe you love, you can save it to your personal collection and organize it into categories for easy access later.
      </div>
    </div>
  </div>
</div>
